[submodule "git-deps/cldr"]
	path = git-deps/cldr
	url = https://github.com/unicode-org/cldr
[submodule "git-deps/libX11"]
	path = git-deps/libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
[submodule "git-deps/xorgproto"]
	path = git-deps/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
